<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:名称空间 -->
<mapper namespace="com.prac.BEPSystem.mapper.TendererLoginMapper">
    <!--statement-->
    <select resultType="com.prac.BEPSystem.pojo.TendererLogin" id="selectAll">
        select *
        from tenderer_login;
    </select>
    <!-- <select id="selectById" resultType="user">select *from tb_user where id = #{id};</select>-->
    <select resultType="com.prac.BEPSystem.pojo.TendererLogin" id="select">
        select *
        from tenderer_login
        where username = #{arg0} and password = #{param2}
    </select>
</mapper>